.btn-outline-success {
    color: #fd4445;
    border-color: #fd4445;
}
.btn-outline-success:hover {
    color: #fffbf0;
    background-color: ##fffbf0;
    border-color: #fffbf0;
}
.li {
  color: #fffbf0;
}


a {
    color: #5f5f5f;
    text-decoration: none;
    background-color: transparent;
}

success.dropdown-toggle {
    color: #fff;
    background-color: #DD1C1A;
    border-color: #DD1C1A;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #DD1C1A;
    border-color: #DD1C1A;
}

.btn:hover {
    color: #ffffff;
    text-decoration: none;
}
success:focus {
    box-shadow: 0 0 0 0.2rem #DD1C1A;
}

.btn-outline-success {
    color: #DD1C1A;
    border-color: #DD1C1A;
}
.btn-outline-success {
    color: #DD1C1A;
    border-color: #DD1C1A;
}
