.jumbotron {


      padding-bottom: 20%;
      padding-left: 5%;
      margin-top: -50px;
      margin-bottom: 0px;
      background-color: transparent;


    }


hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #086788;
    margin: 1em 0; padding: 0; }
.a {

  height:80px;
  width: 80px;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 40px;
  border: 2px solid #909090;
}


img{
height:50px;
width: 50px;
margin-top: 10px;
margin-bottom: 20px;
}

h3 {
  color: #5f5f5f;
  font-weight: 400;
}
